%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, html: {class: "form-horizonal", id: "payment-form"}) do |f|
        %header
          %h1 Register
        %fieldset
          = hidden_field_tag :invitation_token, @invitation.token unless @invitation.blank?
          = f.email_field :email, label: "Email Address"
          = f.password_field :password
          = f.text_field :full_name, label: "Full Name"
          You will be charged $19.99
          = hidden_field_tag :amount, 1999
          = render 'credit_card'
        = f.submit "Sign Up", class: "btn btn-default"
= javascript_include_tag 'payment'
